<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <title>Pessoas</title>
</head>

<body>
    <div class="centro">
        <h2 class="titulo">Pessoas cadastradas</h2>
        <hr>
        <ul>
            <% for(pessoa of pessoas) { %>
                <li class="nomes"><a href="/pessoas/<%= pessoa._id %>">
                        <%= pessoa.nome %>
                    </a></li>
                <% } %>
        </ul> <br>
        <a href="/pessoas/new"><button class="botao-adicionar">Adicionar nova pessoa</button></a>
    </div>
</body>

</html>